#window {
  background-color: #1E2127;
}

#input {
  background-color: #1E2127;
  border: 0;
}

#input:focus {
  box-shadow: 0px 0px 0px 1px #1E2127 inset;
  border: 0;
}

#entry {
  border-radius: 50px;
  padding: 8px 12px;
}

#entry:selected {
  outline: none;
  color: /** accent-fg */ #FFFFFF /** /accent-fg */;
  background-color: /** accent */ #454068  /** /accent */;
}

.overlay-indicator {
  background-color: transparent;
  opacity: 1;
}

.overlay-indicator slider {
  background-color: /** accent */ #454068  /** /accent */;
  min-width: 10px;
  max-width: 10px;
  outline: none;
  border: 0;
}

#img {
  margin-right: 8px;
}

arrow {
  background: transparent;
  outline-color: transparent;
  border-color: transparent;
  color: transparent;
  box-shadow: none;
  margin-left: -15px;
}

#input {
  border-radius: 10px;
  margin-bottom: 10px;
}

#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
}

