
@import url('../../style.css');

#waybar.top {
  border-radius: 0;
}

#workspaces.minimal {
  letter-spacing: -8px;
  margin-right: 10px;
}

#workspaces.minimal button {
  text-shadow: none;
  margin: 0;
  margin-right: -20px;
  border: 0;
  border: transparent;
}

#workspaces.minimal label {
  text-shadow: none;
}

#workspaces.minimal button.empty {
  padding-right: 18px;
}

#workspaces.minimal button:hover {
  border: transparent;
}

#custom-window-or-music-title,
#clock,
#idle_inhibitor,
#custom-power,
#custom-notification-center,
#custom-idle-inhibitor,
#pulseaudio
{
  font-size: 18px;
  font-weight: bold;
}

#pulseaudio {
  margin-top: -1px;
  margin-right: 5px;
}

#image {
  margin-left: 0px;
}

#image image {
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 14px;
}

#custom-window-or-music-title {
  margin-left: 3px;
}

#custom-notification-center {
  margin-right: 10px;
}

#custom-power {
  font-size: 30px;
}